<%= render :partial => "/list" %>
<div class="container">
  
  <div class="row">
    <p>
      <%= @user.name %>さん<br>
      <%= @user.goal %><br>
      <%#= @projects.id%><%#= current_user.books.where('created_at > ?', Date.today).count %> <br>
      <%#= link_to 'マイプロジェクト一覧', root_path %>
    </p>
  </div>
  
  <div class="row">
    <div class="col-10">
    <%= form_with(model: @project, local: true) do |f| %>
    
      <%#= f.start_time.strftime("%y-%m-%d") %>
      <%= @project.start_time.strftime("%y-%m-%d") %>
      <%#= f.datetime_field :start_time %>
    
      <div class="title">
        <div class="form-tag">タイトル</div>
        <%= f.text_field :title %>
      </div>
      
      <div class="content">
        <div class="form-tag">内容</div>
        <%= f.text_field :explanation %>
      </div>
        <div class="image">
        <div class="form-tag">写真</div>
        <%#= f.attachment_field :image %>
        <%#= attachment_image_tag @project, :image, size: "100x100", fallback: "no_image.jpg" %>
        <%#= f.attachment_field :image, size: "100x120", fallback: "noimage.png" %>
        
        <%= f.attachment_field :image, size: "100x100", fallback: "no_image.jpg"%>
      </div>
      <div class="submit">
        <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>
  
</div>


