<%= render :partial => "/list" %>
<p id="notice"><%= notice %></p>
  
  <div class="container">
    
    <div class="row">
    <p>
      <b><%= @user.name %>さん<br>
      <%= @user.goal %></b>
    </p>
  </div>
  
    <!--投稿内容-->
    <div class="row" >
      <div class="col-7 mt-3 pt-4 pl-5 pb-4" style="background-color:white;">
        
        <table>
          <tr>
            <td><%= @project.start_time.strftime("%y-%m-%d") %></td>
            <td></td>
          </tr>
          <tr>
            <td><b>タイトル</b></td>
            <td><b>　<%= @project.title %></b></td>
          </tr>
          <tr>
            <td><b>内容</b></td>
            <td><b>　<%= @project.explanation %></b></td>
          </tr>
        </table>
      </div>
              
      <div class="col-3 mt-3 pt-4">
        <p>
          <!--<strong>写真</strong>-->
          <%#= @project.image %><%= attachment_image_tag @project, :image, size: "100x100", fallback: "no_image.jpg" %>
        </p>
      </div>
      
    </div>
    
    <!--ボタン-->
    <div class="row mt-5" style="text:center;">
      <!--<div style="text-align:center;">-->
      <div class="mr-1"><%= link_to '編集', edit_project_path(@project), class:'btn btn-primary' %></div>
      <div class="mr-1"><%= link_to '消去',project_path(@project.id), method: :delete, data: { confirm: '本当に?' }, class:'btn btn-danger' %></div>
      <div><%= link_to '戻る', projects_path, class:'btn btn-success' %></div>
      <!--</div>-->
    </div>


</div>
