<%= render :partial => "/list" %>

<p id="notice"><%= notice %></p>

<div class="container">
  <p>
  <strong>日時</strong>
  <%= @project.start_time.strftime("%m-%d") %>
  </p>

  <p>
    <strong>タイトル</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>内容</strong>
    <%= @project.explanation %>
  </p>

  <p>
    <strong>写真</strong>
    <%= @project.image %>
  </p>

  <div class="row mt-5" style="text:center;">
    <div class="mr-1"><%= link_to '編集', edit_project_path(@project), class:'btn btn-primary' %></div>
    <div class="mr-1"><%= link_to '消去',project_path(@project.id), method: :delete, data: { confirm: '本当に?' }, class:'btn btn-danger' %></div>
    <div><%= link_to '戻る', projects_path, class:'btn btn-success' %></div>
  </div>
  
</div>
