<%= render :partial => "/list" %>
<div style="text-align:center;">
  <div  class="pt-5 pb-5">
    <h2>ログイン</h2>
    <p>ワクワクするプロジェクトを始めよう！</p>
  </div>


  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
  
  <!--<div class="field">-->
    <%#= f.label :出席番号 %>
    <%#= f.text_field :number, autofocus: true %>
  <!--</div>-->
  
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions pt-4 px-3">
    <%=link_to 'topに戻る', root_path, class:'btn btn-success'%>
    <%= f.submit "ログイン", class:'btn btn-info' %>
  </div>
  <div style="color:#d3d3d3;" class="pt-5">
    <p><%= link_to"新規登録はこちらから", new_user_registration_path %></p>
  </div>
  
<% end %>

<%#= render "devise/shared/links" %>



