<nav class="navbar navbar-light mb-2", style="background:#00ced1">
  
  <!--ãƒ­ã‚´-->
  <%#= image_tag 'logo.jpg', size: "80x80" %>
  <%#= javascript_tag '/packs/home', 'data-turbolinks-track': 'reload' %>
  
  <% if user_signed_in? %>
    <%= link_to projects_path do %>
      <p>ã€€ã€€ã€€ã€€ðŸ˜Š<br>ãƒ¯ã‚¯ãƒ¯ã‚¯ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆ</p>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <p>ã€€ã€€ã€€ã€€ðŸ˜Š<br>ãƒ¯ã‚¯ãƒ¯ã‚¯ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆ</p>
    <% end %>
  <% end %>

  <div>
    <ul class="nav pull-right nav-pills">
    <% if user_signed_in? %>
      <li class="nav-list mr-1"><%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«", user_path(current_user), class:'btn btn-outline-dark' %></li>
      <li class="nav-list mr-1"><%= link_to "ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆ",homes_path, class:'btn btn-outline-dark' %></li>
      <li class="nav-list"><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class:"btn btn-outline-dark" %></li>
    <% else %>
      <li class="nav-list mr-1"><%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class:"btn btn-outline-dark" %></li>
      <li class="nav-list"><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class:"btn btn-outline-dark" %></li>
    <% end %>
    </ul>
  </div>
</nav>

<body style="background-color:#fffff0; text-color:color:#000000;"></body>

<footer>
  <div class="h-50000"></div>
</footer>